{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css"
		href="{% static 'style.css' %}" />
		<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
	<title>TreasureGram</title>
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top text-center" role="navigation">
		<a href="/">
			<img src="{% static 'images/logo.png' %}">
		</a>
	</nav>
	<main class="container container--mw700">
{% block content %}
{% endblock %}
</main>
	<footer class="footer container text-center" role="contentinfo">
  <img src="{% static 'images/brand-icon.png' %}" height="50" alt="">
  © TreasureGram 2016
  <img src="{% static 'images/brand-icon.png' %}" height="50" alt="">
</footer>
</body>
</html>