{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css"
		href="{% static 'style.css' %}" />
		<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
	<title>TreasureGram</title>
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top text-center" role="navigation">
		<a href="/">
			<img src="{% static 'images/logo.png' %}">
		</a>
	</nav>
	<main class="container" role="main">
		<h1>TreasureGram</h1>
		{% for treasure in treasures %}
		<div class="treasure panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">{{ treasure.name }}</h2>
			</div>
			<div class="panel-body">
				<div class="treasure-photo" style="float: left">
					<img src="{{ treasure.img_url }}" height="200">
				</div>
				<table class="treasure-table">
					<tr>
						<th>Material: &nbsp;</th>
						<td>{{ treasure.material }}</td>
					</tr>
					<tr>
						<th>Value: </th>
						<td>
						{% if treasure.value > 0 %}
							{{ treasure.value }}
						{% else %}
							Unknown
						{% endif %}
						</td>
					</tr>
					<tr>
						<th>Location: &nbsp;</th>
						<td>{{ treasure.location }}</td>
					</tr>
				</table>
			</div>
		</div>
		{% endfor %}
	</main>
</body>
</html>