{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<h1>{{ username }}</h1><br>
 <div class="row">
 {% for treasure in treasures %}
 <div class="col-md-4">
 <div class="treasure panel panel-default">
 <a href="/{{treasure.id}}/">
 <div class="panel-heading">
 <h2 class="panel-title" style="color: black">{{ treasure.name }}</h2>
 </div>
 </a>

        <div class="panel-body">
          <a href="/{{treasure.id}}/">
          <div class="treasure-photo">
            <img src="{{ treasure.image.url }}" height="100" >
          </div>
          </a>

       </div>
      </div>
      </div>

	  <!-- if last column in row -->
      {% if forloop.counter|divisibleby:"3" and not forloop.last %}
        </div><br><div class="row">
      {% endif %}
	{% endfor %}
	</div><br>

{% endblock %}